<%- include ('partials/header') %>

<div class="container">
    <% if(bookings.length > 0) {
     for(var i=0; i<bookings.length; i++) { %>
    <div class="card">
        <div class="card-header">
            <p>Order Number:  <%= bookings[i]._id %></p>
            <p>Order Date:  <%= bookings[i].date.toDateString() %></p>
        </div>
        <div class="card-body">
            <!-- Order Summary -->
            <table class="table shopping-summery">
                <tbody>
                <% var rooms = bookings[i].rooms
                if(rooms) {
                for(var j=0; j<rooms.length; j++) { %>
                    <tr>
                        <td class="image" data-title="No"><img src="/<%= rooms[j].image %>" alt="#"></td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name"><a href="#"><%= rooms[j].name %></a></p>
                            <p class="product-des"><%= rooms[j].description %></p>
                        </td>
                        <td class="price" data-title="Price"><span><%= rooms[j].price %> </span></td>
                    </tr>
                <% } %>
                <% } %>
            </tbody>
            </table>
            <!--/ End Order Summary -->
        </div>
    </div>
    <% } %>
    <% } else { %>
        <h4>No Orders Yet!</h4>
        <br>
        <a style="color: white;" href="/rooms" class="btn animate">Keep looking</a>
    <% } %>

</div>

<%- include ('partials/footer') %>