<%- include ('partials/header') %>

<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <% if(locals.checkout && locals.checkout.length > 0) { %> 
                <table class="table shopping-summery">
                    <tbody>
                        <% var total = 0 %>
                        <% for(var i=0; i<checkout.length; i++) { %>
                        <% total += parseFloat(checkout[i].price) %>
                        <tr>
                            <td class="image" data-title="No"><img src="/<%= checkout[i].image %>" alt="#"></td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name"><a href="/rooms/<%= checkout[i]._id %>"><%= checkout[i].name %></a></p>
                                <p class="product-des"><%= checkout[i].description %></p>
                            </td>
                            <td class="price" data-title="Price"><span>$<%= checkout[i].price %> </span></td>
                            <td class="action" data-title="Remove"><a href="/rooms/<%= checkout[i]._id %>/remove-from-checkout"><i class="ti-trash remove-icon"></i></a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount" >
                    <div class="row">
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Booking total<span>$<%= total %></span></li>

                                    <li class="last">You Pay<span>$<%= total %></span></li>
                                </ul>
                                <div class="button5">
                                    <a href="/rooms/checkout/book-room" class="btn">Checkout</a>
                                    <a href="/rooms" class="btn">Keep looking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<% } else { %>
    <h4>Cart Empty!</h4>
        <br>
        <a style="color: white;" href="/rooms" class="btn animate">Keep looking</a>
<% } %>
<!--/ End Shopping Cart -->

<%- include ('partials/footer') %>